@font-face {
  font-family: "myriad";
  src: url(../../fonts/sitefont/MyriadPro-Regular.ttf);
}

.horizontal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.horizontal h1 {
  text-align: center;
  margin: 20px 0;
  color: #740000;
  font-family: "myriad", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.horizontal > p {
  font-family: "tahoma", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 1200px;
}

.horizontal > .horizontal-cards {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px 30px 0 30px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}
.horizontal .h-cards-item {
  width: 261px;
  display: flex;
  flex-direction: column;
  text-decoration-color: #740000;
}

.horizontal .h-cards-item img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.horizontal .h-cards-item p {
  font-family: "tahoma", sans-serif;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: #740000;
}

.img_part {
  width: 100%;
}

.img_part img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1270px) {
  .horizontal > p {
    width: auto;
    padding: 0 3%;
  }

  .horizontal > .horizontal-cards {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .horizontal h1 {
    font-size: 24px;
  }

  .horizontal > p {
    font-size: 12px;
  }
}

@media screen and (max-width: 671px) {
  .horizontal .horizontal-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 20px 0 0 0;
    gap: 15px;
  }
}

@media screen and (max-width: 610px) {
  .horizontal > .horizontal-cards {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 610px) {
  .horizontal > .horizontal-cards {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 510px) {
  .horizontal h1 {
    font-size: 18px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 375px) {
  .horizontal h1 {
    font-size: 16px;
  }
}
